body {
    background: #fff;
    color: #666;
    font-family: 'Oxygen', sans-serif;
}

#ice_age{
	padding: 0 20px;
}
h2{
	color: #0077d4;
    text-align:center;
}
a.location{
    color: #236B8E;
}

.easy{
    color: green;
}
.hard{
    color: red;
}

.county h3 {
    margin-top: 0;
}
.user_container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 10px 5px 20px;
    box-sizing:border-box;
}
#progress_container h4{
    text-align: left;
}
.container{
    padding-top:45px;
}
#nav {
    position: absolute;
    width: 100px;
    background: black;
    color: white;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
}
#nav .selected{
    background: #afeeee;
}
.nav_item {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 10px;
    box-sizing: border-box;
}
.user_segments {
    margin-top: 15px;
}
.user_header {
    font-weight: bold;
    text-transform: uppercase;
}
.segment_details{
    cursor: pointer;
    position: relative;
}

.location{
    display: block;
}

.segment_details span{
    position: relative;
}

.yes:after{
    content: "";
    border: 3px solid green;
    width: 5px;
    height: 10px;
    position: absolute;
    right: -20px;
    border-left: none;
    border-top: none;
    transform: rotate(38deg);
}

.no:before {
    width: 3px;
    height: 16px;
    background: red;
    content: "";
    display: inline-block;
    right: -20px;
    position: absolute;
    transform: rotate(45deg);
}

.no:after {
    width: 3px;
    height: 16px;
    background: red;
    content: "";
    display: inline-block;
    right: -20px;
    position: absolute;
    transform: rotate(-45deg);
}

[data-notes]{
	cursor: pointer;
}

#segment_filter{
    background: #eee;
    box-sizing: border-box;
}

#segment_filter_container{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    width: 30%;
    background: #eee;
    float: left;
    box-sizing: border-box;
}

#segment_list {
    float: left;
    width: 70%;
    padding: 0 15px;
    box-sizing: border-box;
}

#segment_filter a{
    font-size:10px;
    color: black;
}

#segment_filter>ul>li.selected {
    background: white;          
}

#segment_filter>ul>li>a {
    font-size: 14px;
    display:block;
    padding: 8px;
}

#segment_filter ul{
    list-style: none;
    padding: 0px;
}

#segment_filter ul ul{
    padding-left: 10px;
}

#segment_filter ul ul li{
    line-height: 12px;
}


#segment_filter select{
    border: none;
    font-size: 19px;
    font-weight: bold;
    padding: 5px 0;
    font-family: 'Oxygen', sans-serif;
    color: #666;
}

.segment_name{
    text-align:left;
}

.segment_summary{
    margin-bottom: 20px;
}

.segment_details{
    text-transform: capitalize;
}

.segment {
    width: 100%;
    box-sizing: border-box;
    min-height: 150px;
}

h4{
    margin: 0 0 10px;
    text-align: center;
}

.clear{
    clear: both;
}

.hide{
    display:none;
}

.nohiking{
    margin: 15px 0 5px;
}


.segment_container {
    width: 100%;
    display: inline-block;
    margin-bottom: 45px;
}

#footnote {
    width: 100%;
    position: fixed;
    bottom: -100px;
    background: white;
    border: 3px solid #0077d4;
    transition: bottom 1s ease-out;
    box-sizing: border-box;
    padding: 15px;
    left: 0;
    border-bottom: none;
}

@media (max-width: 600px) {
    #segment_filter_container{
        width: 100%;
    }
    #segment_list{
        width: 100%;
    }
    .user_container {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
}