body {
    background: #fff;
    color: #666;
    font-family: 'Oxygen', sans-serif;
}

#ice_age{
	padding: 0 20px;
}
h2{
	color: #0077d4;
    text-align:center;
}

.segment_details{
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.yes{
    display: block;
    content: "";
    border: 3px solid black;
    width: 5px;
    height: 10px;
    position: absolute;
    right: -10px;
    border-left: none;
    border-top: none;
    transform: rotate(38deg);
}

.no{
    display: block;
    content: "";
    border: 3px solid black;
    width: 5px;
    height: 10px;
    position: absolute;
    right: -10px;
    border-left: none;
    border-top: none;
    transform: rotate(38deg);
}

[data-notes]{
	cursor: pointer;
}
#segment_filter{
    position:fixed;
    top:0;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Oxygen', sans-serif;
    /*background: white;*/
    width:100%;
    display:none;
    background: white;
}

#segment_filter select{
    border: none;
    font-size: 19px;
    font-weight: bold;
    padding: 5px 0;
    font-family: 'Oxygen', sans-serif;
    color: #666;
}

.segment_name{
    text-align:left;
}

.segment_summary{
    margin-bottom: 20px;
}

.segment_details{
    text-transform: capitalize;
}

.segment {
    width: 100%;
    box-sizing: border-box;
    min-height: 150px;
}

h4{
    margin: 0 0 10px;
    text-align: center;
}

.clear{
    clear: both;
}


.segment_container {
    width: 100%;
    display: inline-block;
    margin-bottom: 45px;
}

#footnote {
    width: 100%;
    position: fixed;
    bottom: -100px;
    background: white;
    border: 3px solid #0077d4;
    transition: bottom 1s ease-out;
    box-sizing: border-box;
    padding: 15px;
    left: 0;
    border-bottom: none;
}