.user_container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 10px 35px;
    box-sizing:border-box;
}

.user_segment_container{
    margin-bottom: 15px;
}
#progress_view h4{
    text-align: left;
}

.user_segments {
    margin: 0 0 35px;
}
.user_header {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.user_badge_container {
    width: 50%;
    display:inline-block;
}

.user_container h4{
    font-size:22px;
}

@media (max-width: 600px) {
    .user_container {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
}