.user_container {
    display: inline-block;
    width: 50%;
    vertical-align: top;
    padding: 0 10px 35px;
    box-sizing:border-box;
}

.progressBarContainer {
    height: 6px;
    width: 100%;
    border-right: 2px solid #26bf42;
    box-sizing: border-box;
}

.progressBar {
    height: 100%;
    background: #fce037; /* Old browsers */
background: -moz-linear-gradient(left, #fce037 0%, #26bf42 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, #fce037 0%,#26bf42 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, #fce037 0%,#26bf42 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fce037', endColorstr='#26bf42',GradientType=1 );
}

.countyContainer {
    margin-bottom: 15px;
}

.countySegments {
    display: none;
}

.countyContainer h3 {
    margin: 0;
    cursor: pointer;
    font-size: 1em;
}

.countyContainer .segment_name {
    font-size: 0.9em;
    padding: 3px;
}

.user_segment_container{
    margin-bottom: 15px;
}
#progress_view h4{
    text-align: left;
}

.user_segments {
    margin: 0 0 35px;
}
.user_header {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 8px;
}

.user_container span.completion_data, .seg_notes {
    font-weight: normal;
	font-size: 14px; 
}

.user_badge_container {
    width: 50%;
    display:inline-block;
}

.user_container h4{
    font-size:22px;
}

.user_miles_remaining{
    color: #0C78C5;
    font-weight: bold;
}

@media (max-width: 600px) {
    .user_container {
        display: inline-block;
        width: 100%;
        vertical-align: top;
    }
}